
  @import url('https://fonts.googleapis.com/css2?family=Allan&family=Grand+Hotel&family=Open+Sans:ital@1&family=Roboto:wght@300&display=swap');


/* main */
.img-custom {
    height: 100px;
    width: auto;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.bg-orange-light {
	background-color: #e8a579;
}

.bg-orange-bright {
	background-color: #f3b341;
}

/*-- headings and content --*/
.logo-head {
    margin-left: -25%;
    width: 200%;
}
.logo-font {
    font-family: 'Grand Hotel', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

h3 {
	color: #241f20;

}

h4 {
	color: #241f20
}

p {
	color: #3e2c22;
	font-weight: 600;
	text-align: left;
}

.text-brown {
	color: #3e2c22;
}

.text-slate {
	color: #241f20;
}

.heavy-font {
	font-weight: 600;
}

ul {
	list-style-type: none;
	font-weight: 600;
	text-align: left;
}

.float-right {
	float: right;
}

/*-- images in content --*/

.zoom  {
    transition: all 0.2s ease-in-out;
}

.border {
	background: #eb7719;
	padding: 25px;
	border: 1px solid #eb7719;
	border-radius: 50px;
}

/*-- contact button --*/

.bg-orange-bold {
	background-color: #eb7719;
}

.btn-contact {
	background-color: #eb7719;
	color: #241f20;
	border: none;
}

/* Nav bar logo */
.navbar-brand img {
    border-radius: 22px;
    height: 150px;
    width: auto;
    margin-left: -75%;
}

/*-- nav bar --*/

.navbar-link a {
    margin-left: 5px;
}

.navbar-nav .nav-link.active {
	text-decoration: underline;
}

/*--hero image --*/

.hero {
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 37.5%;
	
}

.hero img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: cover;
}

/*-- Faq accordion --*/

.accordion-button:not(.collapsed) {
	color: #241f20;
	background-color: #e8a579;
	box-shadow: none;
}

/*-- sign up modal --*/

.modal-body form {
	display: flex;
	flex-direction: column;
}

.modal-body input {
	margin-bottom: 10px;
}

/*  Footer Bar */
.custom-footer {
    background-color: #e0f2f1; /* Light green background */
    color: black;
}

.footer-heading {
    font-weight: bold;
}

.social-icon {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #a5d6a7; /* Darker green for contrast */
    color: black;
}

.footer-bottom a {
    color: darkgreen; /* Adjust this color as needed */
    margin: 0 10px;
}


/*-- media queries --*/

button.zoom:hover {
	font-size: 20px;
	padding: 12px 24px;
	background-color: #eb7719;
}

.zoom:hover {
	transform: scale(1.1);

}

button.acczoom:hover {
	font-size: 20px;
	padding: 12px 24px;
	background-color: #eb7719;
}

.btn-contact:hover {
	background-color: #eb7719;
	color: #241f20;
	border: none;
}

.btn-contact:active {
	background-color: #eb7719;
	color: #241f20;
	border: none;
}